*:before,
*:after {
  box-sizing: border-box;
}

.wrapper-app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

/* header,
footer {
  background: #ffe44d;
  padding: 15px 0;
} */

.error {
  color: red;
}
